<div class="modal fade" id="search-friend-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">搜索结果</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <h1> test</h1>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 



<div class="content-mid friends_request">

    <div class="container col-xs-12">
        <div class="friends_request">
            <div class="panel panel-default">
                <div class="panel-heading">好友请求列表</div>
                <div class="panel-body">

                    <div class="friend_request_list col-xs-12">
            
                    </div><!--friend_recomend_list-->

                </div><!--panel-body-->
            </div><!--panel panel-primary-->
        </div><!-- friends_recomend!-->
    </div><!-- container col-xs-12-->
</div><!--content-mid myfriends-->

