<div class="content-mid myfriends">

    <div class="container col-xs-12">
        <div class="friends">
            <div class="panel panel-default">
                <div class="panel-heading">好友列表</div>
                <div class="panel-body">

                    <div class="friend_list col-xs-12">
            
                    </div><!--friend_list-->

                </div><!--panel-body-->
            </div><!--panel panel-primary-->
        </div><!-- friends_recomend!-->
    </div><!-- container col-xs-12-->
</div><!--content-mid myfriends-->

