.main-content {
    padding: 20px;
}

.navbar-vertical .nav-pills li{
    font-size:20px;
}
.content-mid {
    height : 600px;
}

.search_friends {
    margin: 0 0 20px 0;
}

.friends_recomend .friend_recomend_list .recomend-friend-info{
    margin-top: 15px;
    font-size: 15px;
}
