.footer {
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 100px;
    background-color: #f5f5f5;
}
.copy{padding-top:25px;text-align:center;}
.copy>ul{-webkit-padding-start: 0px;}
.copy>ul>li{display:inline;margin:0 3px;color: #666;}
.copy>p{color:#999; font-size: 10px;}
.copy>p>a:link{color: #999; text-decoration: none}
.copy>p>a:visited{color: #999; text-decoration: none}
.copy>p>a:hover{color: #55acef; text-decoration: none}
.copy>p>a:active{color: #55acef; text-decoration: none}