#userinfo{
    margin:20px 0;
}
#tabs-content-base-info{
    margin:30px 0;
}
#tabs-content-base-info-table {
    height:500px;
}

#tabs-content-base-info-table th,td{

}


#tabs-content-self-profile-content {
    
    margin: 30px 0;
    padding:0;
    #height:500px;
    #width:1080px;
    border-style:solid;
    border-width:1px;
    border-color:rgb(238, 238, 238);
}

.avatar-container{
    margin: 0 0;
    padding:0;
    #height:498px;
    #width:300px;
    border-right-style:solid;
    border-width:1px;
    border-color:rgb(238, 238, 238);
}

.avatar-container .username h3{
    text-align:center;
}

.avatar-container .avatar-mid{
    height:210px;
}

.avatar-upload button{
    display:block;
    margin:0 auto;
}

.avatar-container .avatar-upload-des{
    margin:30px 0;
}

.avatar-container .avatar-upload-des p{
    text-align:center;
}

.self-profile .self-profile-content{
    padding:20px;
}

.crop-avatar {
    text-align: center;
}

.crop-avatar .avatar-source-file-upload{
    /*padding: 4px 10px;*/
    /*height: 20px;*/
    /*line-height: 20px;*/
    /*position: relative;*/
    /*cursor: pointer;*/
    /*color: #888;*/
    /*background: #fafafa;*/
    /*border: 1px solid #ddd;*/
    /*border-radius: 4px;*/
    /*overflow: hidden;*/
    /*display: inline-block;*/
    /**display: inline;*/
    /**zoom: 1*/
    margin-right: 20px;
}

.crop-avatar .avatar-source-file-upload input{
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.crop-avatar .avatar-source-file-upload:hover{
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}



.crop-avatar #post_file{
    /*position:absolute;*/
    /*top:0;*/
    /*right:80px;*/
    /*height:24px;*/
    /*filter:alpha(opacity:0);*/
    /*opacity: 0;*/
    /*width:260px;*/
    /*background-color: red;*/
}
.crop-avatar #label{
    border:1px solid #ccc;
    background-color:#fff;
    text-align:center;
    height:300px; 
    width:300px;
    margin:20px auto;
    position:relative;
}


.crop-avatar #get_image{
    position:absolute;
}

.crop-avatar #edit_pic{
    position:absolute;
    display:none;
    background:#000;
}
.crop-avatar #cover_box{
    position: absolute;
    z-index: 9999;
    display:none;
    top:0px;
    left:0px;
}

.preview-avatar{
    text-align: center;
}
.preview-avatar #show_edit{
    margin: 0 auto;
    display:inline-block;
}

.preview-avatar #show_pic{
    height:300px;
    width:300px;
    border:1px solid #ccc;
    overflow:hidden;
    margin:20px auto;
    display:inline-block; 
}

