#userinfo{
    margin:20px 0;
}
#tabs-content-base-info{
    margin:30px 0;
}
#tabs-content-base-info-table {
    height:500px;
}

#tabs-content-base-info-table th,td{

}


#tabs-content-self-profile-content {
    
    margin: 30px 0;
    padding:0;
    #height:500px;
    #width:1080px;
    border-style:solid;
    border-width:1px;
    border-color:rgb(238, 238, 238);
}

.avatar-container{
    margin: 0 0;
    padding:0;
    #height:498px;
    #width:300px;
    border-right-style:solid;
    border-width:1px;
    border-color:rgb(238, 238, 238);
}

.avatar-container .username h3{
    text-align:center;
}

.avatar-container .avatar-mid{
    height:auto;
    width:100%;
}

.avatar-upload button{
    display:block;
    margin:0 auto;
}

.avatar-container .avatar-upload-des{
    margin:30px 0;
}

.avatar-container .avatar-upload-des p{
    text-align:center;
}

.self-profile .self-profile-content{
    padding:20px;
}

.crop-avatar {
    text-align: center;
}
.crop-avatar #label{
    border:1px solid #ccc;
    background-color:#fff;
    text-align:center;
    height:300px; 
    width:300px;
    margin:20px auto;
    position:relative;
}

.crop-avatar #get_image{
    position:absolute;
}

.crop-avatar #edit_pic{
    position:absolute;
    display:none;
    background:#000;
}
.crop-avatar #cover_box{
    position: absolute;
    z-index: 9999;
    display:none;
    top:0px;
    left:0px;
}
.crop-avatar #show_edit{
    margin: 0 auto;
    display:inline-block;
}

.crop-avatar #show_pic{
    height:100px;
    width:100px;
    border:2px solid #000;
    overflow:hidden;
    margin:0 auto;
    display:inline-block; 
}

