        <div class="footer">
            <div class="container">
                <div class="copy">
                    <ul>
                        <li><a href="" target="_blank">产品介绍</a></li>
                        <li>｜</li>
                        <li><a href="" target="_blank">常见问题</a></li>
                        <li>｜</li>
                        <li><a href="" target="_blank">关于我们</a></li>
                        <li>｜</li>
                        <li><a href="" target="_blank">联系我们</a></li>
                    </ul>
                    <p>&copy;bricks&nbsp;<a href="http://www.miibeian.gov.cn/" target="_blank">豫ICP备15002086号</a></p>
                </div>
            </div>
        </div>
    </body>
</html>
