{include file='index_header.html'}
<header class="header">
<h1>Mnemosyne</h1>
</header>
<div class="main-content">
    <div class="big_center_title">
        <h1>Hidden in your memory</h1>
        <div class="login">
            <form>
                <p>
                    <label for="name">姓名</label>
                    <input id="name" name="name"/>
                </p>
                <p>
                    <label for="password">密码</label>
                    <input id="password" name="passpord"/>
                </p>
                 <button type="submit">翻开同学录</button>
            </form>
        </div>
    </div>
</div>
{include file='footer.html'}