{{include file='index_header.html'}}
<header class="header">
<h1>Mnemosyne</h1>
</header>
<div class="main-content">
    <div class="big_center_title">
        <h1>Hidden in your memory</h1>
        <div class="login">
            <form>
                <p>
                    <label for="name">姓名</label>
                    <input id="name" name="name"/>
                </p>
                <p>
                    <label for="password">密码</label>
                    <input id="password" name="passpord"/>
                </p>
                <div class="box" id="div_geetest_lib">
                    <div id="div_id_embed"></div>
                    <script type="text/javascript">

                        var gtFailbackFrontInitial = function(result) {
                            var s = document.createElement('script');
                            s.id = 'gt_lib';
                            s.src = 'http://static.geetest.com/static/js/geetest.0.0.0.js';
                            s.charset = 'UTF-8';
                            s.type = 'text/javascript';
                            document.getElementsByTagName('head')[0].appendChild(s);
                            var loaded = false;
                            s.onload = s.onreadystatechange = function() {
                                if (!loaded && (!this.readyState|| this.readyState === 'loaded' || this.readyState === 'complete')) {
                                    loadGeetest(result);
                                    loaded = true;
                                }
                            };
                        }
                        //get  geetest server status, use the failback solution


                        var loadGeetest = function(config) {

                            //1. use geetest capthca
                            window.gt_captcha_obj = new window.Geetest({
                                gt : config.gt,
                                challenge : config.challenge,
                                product : 'embed',
                                offline : !config.success
                            });

                            gt_captcha_obj.appendTo("#div_id_embed");
                        }

                        s = document.createElement('script');
                        s.src = 'http://api.geetest.com/get.php?callback=gtcallback';
                        $("#div_geetest_lib").append(s);

                        var gtcallback =( function() {
                            var status = 0, result, apiFail;
                            return function(r) {
                                status += 1;
                                if (r) {
                                    result = r;
                                    setTimeout(function() {
                                        if (!window.Geetest) {
                                            apiFail = true;
                                            gtFailbackFrontInitial(result)
                                        }
                                    }, 1000)
                                }
                                else if(apiFail) {
                                    return
                                }
                                if (status == 2) {
                                    loadGeetest(result);
                                }
                            }
                        })()

                        $.ajax({
                            url : "../gt-php-sdk/web/StartCaptchaServlet.php?rand="+Math.round(Math.random()*100),
                            type : "get",
                            dataType : 'JSON',
                            success : function(result) {
                                console.log(result);
                                gtcallback(result)
                            }
                        })
                    </script>
                </div><!--div_geetest_lib!-->

                <button type="submit">翻开同学录</button>
                <p><button type="button" data-toggle="modal" data-target="#register">注册新用户</button></p>
            </form>


        </div>
    </div>
</div>

<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">注册新用户</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="username">用户名</label>
                        <input type="email" class="form-control" id="username" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="phone">手机号</label>
                        <input type="email" class="form-control" id="phone" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="email">邮箱</label>
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="passwordnew">密码</label>
                        <input type="password" class="form-control" id="passwordnew" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="passwordconfirm">确认密码</label>
                        <input type="password" class="form-control" id="passwordconfirm" placeholder="Password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">注册</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function setCommentWidth(){
        var width = $(document.body).height();
        $('.main-content').height(width);
    }

    $(document).ready(function(){
        setCommentWidth();
    });

</script>
{{include file='footer.html'}}