<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="mnemosyne">
    <meta name="description" content="同学录计划">
    <title>Mnemosyne</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{php}}echo base_url();{{/php}}static/css/base_css_with_navbar_vertival.css" rel="stylesheet">
    <link href="{{php}}echo base_url();{{/php}}static/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <link href="{{php}}echo base_url();{{/php}}static/css/alumni.css" type="text/css" rel="stylesheet">
</head>
<body>
