<div class="content-mid" id="fill_in_alumni_list">

    <div class="container col-xs-12">
        <div class="contend-mid-panel">
            <div class="panel panel-default">
                <div class="panel-heading">需要填写的同学录列表</div>
                <div class="panel-body">

                    <div id="alumni_need_to_fill_in" class="item_list col-xs-12">
                                    
                    </div><!--friend_list-->

                </div><!--panel-body-->
            </div><!--panel panel-primary-->
        </div><!-- -->
    </div><!-- container col-xs-12-->
</div><!--content-mid-->
