
<div class="modal fade" id="fill_in_alumni_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">想对Ta说</h4>
            </div>
            <div class="modal-body">
                <input id="alumni_page_id" type="text" hidden="hidden"/>
                <script type="text/plain" id="myEditor" style="width:1000px;height:240px;">
                </script>
                <br/>
                <button type="button" id="fill_in_alumni_btn" class="btn btn-info">提交</button>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 

<div class="content-mid" id="my_alumni_list">

    <div class="container col-xs-12">
        <div class="contend-mid-panel">
            <div class="panel panel-default">
                <div class="panel-heading">我的同学录列表</div>
                <div class="panel-body">

                    <div id="alumni_list" class="item_list col-xs-12">
                                    
                    </div><!--item_list-->

                </div><!--panel-body-->
            </div><!--panel panel-primary-->
        </div><!-- -->
    </div><!-- container col-xs-12-->
</div><!--content-mid-->
