<script>
    (function(){
        var dom = {
            alumniList : $("#alumni_list"),
            singleAlumniPageModal : $('#single_alumni_page_modal'),
        };

        var alumni = {
            init : function(){
                this.loadAlumniList();
            },
            loadAlumniList : function(){
                $.ajax({
                    type: 'GET',
                    url: '{{php}}echo base_url(){{/php}}api/user/alumni/getalumni',
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        if(data['status'] == 0){
                            var alumniInfoList = data['data'];
                            var html = "";
                            for(var i = 0; i < alumniInfoList.length; i++){
                                html += alumni.generateAlumniItem(alumniInfoList[i]);
                            }
                            dom.alumniList.empty();
                            dom.alumniList.append(html);
                            alumni.showSingleAlumniPageModal();
                        }else{
                            alert(data['description']);
                        }
                    },
                    error: function (data) {
                        console.log(data);
                        alert('操作失败');
                    }
                });
            },

            showSingleAlumniPageModal : function(){
                dom.alumniList.find('.overview_alumni_btn').on('click', function(){
                    dom.singleAlumniPageModal.modal('show');
                });
            },
            generateAlumniItem : function(AlumniInfo){
                var html = "";
                if(AlumniInfo['cover']  == 0){
                    AlumniInfo['cover'] = "{{php}}echo base_url();{{/php}}static/img/public/alumni_cover1.png";
                }
                console.log(AlumniInfo['cover']);
                html += '<div class="user_single col-xs-12">' +
                            '<div class="header-img-sm col-xs-4 col-md-2">' + 
                                '<img src="' + AlumniInfo['cover'] + '">' + 
                            '</div>' + 
                            '<div class="request-info col-xs-8 col-md-8">' + 
                                '<div class="alumni_name">' + AlumniInfo['title'] +  '</div>' + 
                                '<br/>' +
                            '</div>' + 
                            '<div class="control-btn">' + 
                                '<button type="button" alumni_id = "' + AlumniInfo['id'] + '" class="overview_alumni_btn btn btn-info">查看</button>' +
                            '</div>'+ 
                        '</div>';
                return html
            },
        };
        alumni.init();
    })();
</script>
