
<div class="modal fade" id="single_alumni_page_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">

                <div id="tabs-content-self-profile">
                    <div class="container">
                        <div class="row">
                        <div id="tabs-content-self-profile-content" class="col-xs-12 col-md-9">
                            
                            <div class="avatar-container col-md-4 col-xs-12">
                                <div class="container col-xs-12">
                                    <div class="avatar-content">
                                        <center><img class="avatar-mid" src="{{php}}echo base_url();{{/php}}static/img/public/default-avatar.jpg"/></center>
                                        <!--<img class="avatar-mid" src="{{php}}echo base_url();{{/php}}static/img/public/test.png"/>-->
                                    </div>

                                </div>
                            </div><!--avatar-container!-->

                            <div class="self-profile">
                                <div class="self-profile-content">
                                    <form class="self-profile-form form-horizontal">
                                        <div class="container col-md-8 col-xs-12">
                                            <input type="text" id="alumni_id" hidden/>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" >血型</label>
                                                    <div class="col-md-10">
                                                        <label class="radio-inline">
                                                            <input type="radio" name="blood-group" id="blood-group-A" value="A"> A
                                                        </label>

                                                        <label class="radio-inline">
                                                            <input type="radio" name="blood-group" id="blood-group-B" value="B"> B
                                                        </label>

                                                        <label class="radio-inline">
                                                            <input type="radio" name="blood-group" id="blood-group-AB" value="AB"> AB
                                                        </label>

                                                        <label class="radio-inline">
                                                            <input type="radio" name="blood-group" id="blood-group-O" value="O"> O
                                                        </label>

                                                    </div>
                                                </div><!--form-group!-->

                                            <div class="form-group">
                                                <label for="user_nickname" class="col-md-2 control-label">绰号</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" id="user_nickname" disabled='disabled'>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="user_name" class="col-md-2 control-label">真实姓名</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" id="user_name" disabled='disabled'>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="user_birthday" class="col-md-2 control-label">生日</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" id="user_birthday" disabled='disabled'>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="user_mobile" class="col-md-2 control-label">手机号</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" id="user_mobile" disabled='disabled'>
                                                </div>
                                            </div>

                                        </div><!--container!-->
                                        <div class="container col-xs-12 self-profile-content-mid">
                                            <div class="form-group">
                                                <label for="favorite_food" class="col-md-2 control-label">最喜欢吃</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" id="favorite_food" disabled='disabled'>
                                                </div>
                                            </div>
                                             

                                            <div class="form-group">
                                                <label for="favorite_animal" class="col-md-2 control-label">最喜欢的动物</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" id="favorite_animal" disabled='disabled'>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="worship_people" class="col-md-2 control-label">最崇拜的人</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" id="worship_people" disabled='disabled'>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="want_to_go" class="col-md-2 control-label">我想去的地方</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" id="want_to_go" disabled='disabled'>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="desire" class="col-md-2 control-label">我的愿望</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" id="desire" disabled='disabled'>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group">
                                                <label for="favorite_star" class="col-md-2 control-label">喜欢的明星</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" id="favorite_star" disabled='disabled'>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="favorite_color" class="col-md-2 control-label">喜欢的颜色</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" id="favorite_color" disabled='disabled'>
                                                </div>
                                            </div>
                                        </div><!--self-profile-content-mid-->
                                        <div class="container col-xs-12 self-profile-content-footer">
                                            <div id="alumni_page_message">
                                                <p>test</p>
                                            </div>
                                        </div><!--self-profile-content-footer-->
                                    </form>
                                </div>
                            </div><!--self-profile!-->

                        </div><!--tabs-content-self-profile-content-->
                        </div><!--row-->
                    </div><!--container-->
                </div><!--tabs-content-self-profile-->
                <center>
                    <button type="button" id="pre_page" class="btn btn-info">上一页</button>
                    <select id="alumni_page_select" style="width:80px">
                        
                    </select>
                    <button type="button" id="next_page" class="btn btn-info">下一页</button>
                </center> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 

<div class="content-mid" id="my_alumni_list">

    <div class="container col-xs-12">
        <div class="contend-mid-panel">
            <div class="panel panel-default">
                <div class="panel-heading">我的同学录列表</div>
                <div class="panel-body">

                    <div id="alumni_list" class="item_list col-xs-12">
                                    
                    </div><!--item_list-->

                </div><!--panel-body-->
            </div><!--panel panel-primary-->
        </div><!-- -->
    </div><!-- container col-xs-12-->
</div><!--content-mid-->
