<!--
仅在未初始化完毕时加载此页，三步完成设置
注意需要在loadscript后面加入
-->
<div id="complete-info-modal" class="modal fade" aria-labelledby="init-modallabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 id="init-modallabel">只需三步，找到组织</h4>
            </div>
            <div class="modal-body">
                <div class="progress progress-striped active">
                    <div id="complete-info-modal-process" class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" style="width: 50%">
                    </div>
                </div>
                <div id="complete-info-modal-basic-info">
                    <legend>完善信息</legend>
                    <div class="form-group">
                        <label for="basic-info-form-name">真实姓名</label>
                        <input type="text" required="required" class="form-control" id="basic-info-form-name">
                        <br/>
                        <label for="basic-info-form-birthday">出生日期</label>
                        <input type='text' required="required" class="form-control" id='basic-info-form-birthday'/>
                        <br/>
                        <label for="basic-info-form-sex">性别</label>
                        <select class="form-control" id="basic-info-form-sex">
                            <option value="1">男</option>
                            <option value="2">女</option>
                            <option value="0">其他</option>
                            <option value="3">保密</option>
                        </select>
                    </div>
                    <button class="btn btn-success btn-block" id="basic-info-form-user-info-confirm" type="button">绑定班级</button>
                </div>
                <div id="complete-info-modal-bind-class">
                    <legend>绑定班级</legend>
                    <div class="form-group">
                        <label for="bind-class-form-studentId">工大同学快速通道</label>
                        <input type="text" required="required" placeholder="您可以填写您的学号" class="form-control" id="bind-class-form-studentId">
                    </div>
                    <button class="btn btn-success btn-block" id="basic-info-form-bind-class-confirm" type="button">绑定班级</button>
                </div>
                <div id="complete-info-modal-choose-friend">
	                <div class="friend-recommend-list">
                        <div class="option-header" >
                            <h4 style="float:left">推荐好友</h4> 
                            <div class="option" style="float:right">
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> 换一批
                                </button>
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span> 更多推荐
                                </button>
                            </div>
                        </div>
                        <div class="friend-info-list">
                       	    {{section name=foo start=10 loop=20 step=1}} 
                            <div class="friend-info-list-content">
                                <div class="friend-info-list-content-single">
                                    <div class="friend-info-list-content-single-head">
                                        <img src='http://hdn.xnimg.cn/photos/hdn521/20160114/1640/h_main_McbN_51d70003a5dc1986.jpg'/> 
                                    </div>
                                    <div class="friend-info-list-content-single-desc">
                                        <p>方旭</p>
                                    </div>
                                </div>
                            </div>
			                {{/section}}
                            <div class="friend-info-list-content-footer">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<link href="{{php}}echo base_url();{{/php}}static/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script type="text/javascript" src="{{php}}echo base_url();{{/php}}static/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="{{php}}echo base_url();{{/php}}static/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script src="http://project-m.oss-cn-qingdao.aliyuncs.com/static/store.min.js"></script>
<link href="{{php}}echo base_url();{{/php}}static/css/first-sight.css" rel="stylesheet">

<script type="text/javascript">
    (function(){
        var userToken = store.get('token');

        var dom = {
            initInfoModal  : $('#complete-info-modal')
        };

        var initVar = {
            token           : userToken,
            userName        : '',
            userBirthDay    : '',
            userSex         : '',
            userClassId     : '',
            userStudentId   : '',
            userSUTFastBind : 0,

        };

        var initReg = {

            init : function(){
                
                this.displayInitModal();
                this.initDateTimePicker();
                this.userInfoInit();
//                this.testInitModal();
            },

            displayInitModal: function(){
                dom.initInfoModal.modal('show');
            },

            initDateTimePicker: function(){
                //计算推荐出生时间
                var objNowTime = new Date();

                //设置日期选择器
                dom.initInfoModal.find('#basic-info-form-birthday').datetimepicker({
                    minView     : 2,
                    startView   : 4,
                    format      : 'yyyy-mm-dd',
                    language    : 'zh-CN',
                    initialDate : (objNowTime.getFullYear() - 23)+'-01-01',

                });
            },

            testInitModal: function(){
                var formData = dom.initInfoModal.find('#complete-info-modal-basic-info');
                formData.toggle();
                var userRecommend = dom.initInfoModal.find('#complete-info-modal-choose-friend');
                userRecommend.toggle();
            },

            userInfoInit: function(){
                //分布记录，最后一起提交
                var formData = dom.initInfoModal.find('#complete-info-modal-basic-info');
                formData.on('click', '#basic-info-form-user-info-confirm', function(){
                    //检查值
                    initVar.userName = formData.find('#basic-info-form-name').val();
                    var reg = /[\u4E00-\u9FA5\uF900-\uFA2D]/;
                    if (!initVar.userName){
                        alert('真实姓名不能为空');
                    }

                    var userNameLength = initVar.userName.length;
                    for (var i = 0; i < userNameLength; i++){
                        if (!reg.test(initVar.userName[i])){
                            alert('请输入中文');
                            formData.find('#basic-info-form-name').focus();
                            return 0;
                        }

                        if (i > 12){
                            alert('真实姓名不能超过12个字符');
                            formData.find('#basic-info-form-name').focus();
                            return 0;
                        }
                    }

                    initVar.userBirthDay = formData.find('#basic-info-form-birthday').val();
                    if ('' == initVar.userBirthDay){
                        alert('请选择您的出生日期');
                        formData.find('#basic-info-form-birthday').focus();
                        return 0;
                    }

                    initVar.userSex      = formData.find('#basic-info-form-sex').val();
                    if (1 != $.inArray(initVar.userSex, ['0', '1', '2', '3'])){
                        alert('请选择正确的性别');
                        formData.find('#basic-info-form-sex').focus();
                        return 0;
                    }

                    //隐藏表单
                    formData.toggle();

                    //准备班级绑定
                    initReg.userBindClassInit();
                });
            },

            userBindClassInit: function(){
                //显示绑定
                dom.initInfoModal.find('#complete-info-modal-process').animate(
                        {width: '90%'},
                        {speed: 'fast', easing: 'swing'}
                );

                var formData = dom.initInfoModal.find('#complete-info-modal-bind-class');
                formData.toggle();

                formData.on('click', '#basic-info-form-bind-class-confirm', function(){
                    var sutStudentId = formData.find('#bind-class-form-studentId').val();

                    if (sutStudentId){
                        initVar.userSUTFastBind = 1;
                        initVar.userStudentId   = sutStudentId;
                    }


                    //通信 提交用户信息并完成绑定
                    $.ajax({
                        type: 'POST',
                        url: '{{php}}echo base_url(){{/php}}api/user/UserInfo/userInfoInit',
                        data: initVar,
                        dataType: 'json',
                        success: function(data){
                            if (data['status'] == 0){
                                formData.toggle();
                                initReg.userChooseFriend();
                            } else {
                                alert(data['description']);
                            }
                        },
                        error: function(data){
                            console.log(data);
                            alert('操作失败');
                        }
                    });
                });
            },

            userChooseFriend: function(){
                dom.initInfoModal.find('#complete-info-modal-process')
                        .removeClass('progress-bar-info')
                        .addClass('progress-bar-success')
                        .animate(
                        {width: '100%'},
                        {speed: 'fast', easing: 'swing'}
                );
                var formData = dom.initInfoModal.find('#complete-info-modal-choose-friend');
                formData.toggle();


            },

        };

        initReg.init();
    })();
</script>
