<div id="school_info">
    <div class="container col-md-9 col-xs-12">
        <div id="school_info_content">
            <div class="container">
                <form class="school_info_form form-inline">
                    <div class="form-group">
                        <label> 大学</label>
                    </div>
                    <select class="form-control"> 
                        <option>沈阳工业大学</option>
                    </select>
                    <select class="form-control">
                        <option>计算机科学与技术1203</option>
                    </select>
                </form>
            </div>
        </div><!--school_info_content-->
    </div><!--container col-md-9 col-xs-12-->
</div><!--school_info-->
